
.protest-guerrilla-regular {
    font-family: "Protest Guerrilla", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
  .sofadi-one-regular {
    font-family: "Sofadi One", system-ui;
    font-weight: 400;
    font-style: normal;
  }

 
  
  .bungee-inline-regular {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
  }
  
form {
    display: grid;
    row-gap: 8px;
/*    font-family: "Bungee Inline", sans-serif;*/
    font-weight: 400; 
    color: hsl(231, 9%, 85%);
    align-items: center; 
    justify-content: center; 
    border-radius: 25px;
    /*left: 50%;*/
    margin-top: 50px;
    /*margin-left: 40%;*/
    height: 50px;
    width: 500px;
    
}

body{
    background-color: hsl(286, 57%, 28%);
}

h3{
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 50px;
    animation: bounce 2s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: top;
    

   

    
}

.Titulo{
    font-family: "bungee inline";
    font-weight: 400;
    font-style: normal;
    color: rgb(255, 255, 255);
    font-size: 50px;
    animation: bounce 2s infinite alternate;
    display: flex;
    justify-content: center;
    align-items: top;
  

  }





    input[type="text"] {
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}



a{
    display: flex;
    row-gap: 8px;
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400; 
    color: hsl(235, 75%, 97%);
    /*align-items: center; */
    justify-content: center; /* texto volver centrado*/
    border-radius: 20px;
    /*left: 50%;*/
    background-color: rgb(215, 56, 236);
/*  */
    margin-top: 400px;
    margin-left: 50%;
    height: 30px;
    width: 100px;
}

